<!DOCTYPE html>
<html>

   <head>
      <title>Url Shortener Microservice</title>
      <link rel="shortcut icon" href="https://avatars2.githubusercontent.com/u/19376037?s=460&v=4" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
	<h1>Url Shortener Microservice</h1>
      <div class="boxed container">
         <h2>Description</h2>
         <p> The Url Shortener Microservice performs two tasks. The first is to accept a url as input and then output a shortened address using the current url. The second is two redirect traffic when given a valid shortened url. <br></p>
	 <h2>How To Use</h2>
	 <p>Append your "/new/myurl" to the end of the current url, where myurl is the url you would like to shorten, like so: https://energetic-bird.glitch.me/new/myurl <br>   <br>
	    This can either be done in your address bar or by using the http GET protocol.
	 <p>Example output: {"original_url":"http://asd.com", "short_url":"http://energetic-bird.com/go/9"}</p>
	 
	
	 
      </div>
      <a href="://github.com/rmweir/URLShortenerMicroservice">
            <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="Microservice Repo" height="50" width="50">
      </a> 
   </body>

</html>
